.main-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 300px;
  border:solid 2px var(--border-color);
  align-self: flex-start;
  margin-top: 10%;
  margin-left: 1%;

}
.tasks-container {
  overflow-y: scroll;
}
