:root{
  --border-color:#F1F1F2;
  --bg:#F9F9FA;
  --secondary-bg:#F9F9FA;
  --color:grey;
  --secondary-color:rgb(187, 187, 187);
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bg);
  flex-direction: column;
}

.header{
  height: 40px;
  background-color: white;
  width: 100vw ;
  justify-self: flex-start;
  box-shadow: 1px 1px 12px rgb(224, 224, 224);
}

body{
  font-size: 12px;
}
#react-confirm-alert > div{
  background:none;
  align-items: flex-start;
}
#react-confirm-alert > div >div >div{
  padding: 10px;
}
.react-confirm-alert-button-group{
  justify-content: flex-end;
}
.react-confirm-alert-button-group >button{
  width: 70px;
}
.react-confirm-alert-body{
  font-size: 13px;
}
.react-confirm-alert-body > h1{
  font-size: 15px;
}
.react-confirm-alert-button-group > button:nth-child(1){
  background-color: #619CF8;
  color: white;
}
.react-confirm-alert-button-group > button:nth-child(2){
  background-color: white;
  color: #619CF8;
  border: solid 1px rgb(175, 175, 175);
}
.react-confirm-alert{
  margin-top: 15px;
}
.delete-alert > div >div >div{
justify-content: flex-end;}