body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.tasks-container::-webkit-scrollbar{
  width: 2px;
}

.tasks-container::-webkit-scrollbar-track{
  /* background: var(--secondary-background); */
  background: white;
  border:solid 1px var(--border-color)
}
.tasks-container::-webkit-scrollbar-thumb{
  background:rgb(207, 206, 206);
}
